# Compiled binaries
baseline*
!baseline*.cu
benchmark
!benchmark.cu
full_profile
!full_profile.cu
test_verify
!test_verify.cu
playground
playground.cu

# Packages
*.deb

# Profile reports
*.ncu-rep
*.nsys-rep

# Editor
.vscode/
.idea/

# Build artifacts
*.o
*.obj